@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
/* 4K Laptop */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}
nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a:active{
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}

.card{
    display: flex;
    justify-content: center;
    
}
.card a{
    display: flex;
    width: 33.3%    ;
    height: 220px;
    padding: 5px 10px;
    background-color: white;
    color: black;
    border-radius: 13px;
    align-items: start;
    gap: 5px;
    cursor: pointer;
    transition: 0.5s ease;
}
.card a:hover{
    transform: scale(1.1);
    background-image: radial-gradient( circle farthest-corner at 3.2% 49.6%,  rgba(80,12,139,0.87) 0%, rgba(161,10,144,0.72) 83.6% );
    color: white;
}

.card a div{
    padding: 32px 5px;
}
.card a img{
    align-self: center;
    width: 45%;
    position: relative;
    left: 25px;
}

.project-titles{
    padding-bottom: 15px;
}
.section-labels{
    display: block;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 300px;
}
#about-label, #project-label{
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
}
#project-label{
    position: relative;
    top: 230px;
}
#about-label{
    position: relative;
    top: 280px;
}

.contact{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}
.contact .contact-storage div:hover{

    background-image: linear-gradient( 109.6deg,  rgba(0,193,228,1) 11.2%, rgba(0,131,155,1) 74.7% );
}
.contact h1{
    padding-bottom: 12px;
    font-weight: bold;

}
/* Laptop Small */
@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #b74b4b;
        border-bottom: 3px solid #b74b4b;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #b74b4b;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
    align-items: center;
    justify-content: center;
}
.section-labels{
    top: 200px;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}
.home .home-content h1{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #b74b4b;
}


.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #b74b4b;
    cursor: pointer;
    transition: 0.2s linear;
}
.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #b74b4b;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #b74b4b;
    box-shadow: 0  0 25px #b74b4b;
}
.btn-0{
    display: inline-block;
    padding: 1rem;
    margin-top: 2rem;
    background-color: rgb(246, 239, 239);
    border-radius: 1rem;
    font-size: 1rem;
    color: #b74b4b;
    letter-spacing: 0.2rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
}
.btn-0:hover{
    transform: scale3d(1.03);
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px #b74b4b;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px #b74b4b;
}

.typing-text{
    font-size: 1.2rem;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "Software Developer";
    color: #b74b4b;
    animation: words 15s infinite;
}

.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}
@keyframes cursor{
    to{
        border-left: 3px solid #b74b4b;
    }
}

@keyframes words{
    0%, 20%{
        content: "Aspiring Web Developer";
    }
    40%, 60%{
        content: "Aspiring Developer";
    }
    80%, 100%{
        content: "Traditional Artist";
    }
}

.about{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1;
    gap: 8rem;
    padding-top: 200px;
}
.about-info{
    padding: 30px 20px;
    background-color: whitesmoke;
    color: #7d36cf;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: fit-content;
    justify-self: end;
    text-align: center;
}
.about-info h3{
    font-size: 20px;
    font-weight: bold;
}
.about-info p{
    font-size: 15px;
    font-weight: 200;
}
.skills{
    display: flex;
    justify-content: start;
    gap: 12px;
    
}

.skills div h2{
    font-size: 20px;
    gap: 32px;
}

.skills div ul{
    list-style: none;
    display: flex;
    width: 90px;
    flex-wrap: wrap;
    gap: 3px;
}
.skills div ul li{
    padding: 6px 12px;
    background-color: #b74b4b;
    margin-bottom: 8px;
    border-radius: 7px;
    text-align: center;
    font-size: 12px;
}
.contact-storage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
}
.contact-storage div{
    background-color: #9B96A3;
    height: 230px;
    border-radius: 13px;
    padding: 20px 30px;
    gap: 5px;
    
}
.contact-storage div h1{
    font-size: 18px;
}
.contact h1{
    font-size: 28px;
}
#project{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/*Large Laptop */
@media (max-width: 1030px){
    .home{
        gap: 4rem;
    }
    .about{
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px
        
    }
    .about-info{
        padding: 30px 20px;
        background-color: whitesmoke;
        color: #7d36cf;
        border-radius: 13px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        height: fit-content;
        justify-self: center;
        margin: 0;
    }
    .skills{
        justify-content: space-evenly;
    }
    .skills div h2{
        font-size: 16px;
    }
    .card a p{
        font-size: 8px;
    }
    #project-label{
        position: relative;
        top: 200px;
    }
    #about-label{
        position: relative;
        top: 160px;
    }
    #project{
        min-height: 100vh;
    }
    
    
}
/* Tablet */
@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 1.1rem;
    }

    .home-content h1{
        font-size: 2rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
    .logo{
        font-size: 2rem;
        color: #b74b4b;
        font-weight: 800;
        cursor: pointer;
        transition: 0.5s ease;
    }
    
    .card a{
        display: flex;
        width: 60%;
        height: 180px;
        padding: 2px 10px;
        background-color: white;
        color: black;
        border-radius: 13px;
        align-items: start;
        gap: 5px;
        cursor: pointer;
        
    }
    .card a div{
        padding: 15px 5px;  
    }
    .card a p{
        font-size: 8px;
    }
    #project-label{
        position: relative;
        top: 30px;
    }
    #about-label{
        position: relative;
        top: 160rpx;
    }
    
    .contact-storage{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 15px;
    }
    .contact-storage div{
        background-color: #9B96A3;
        height: 230px;
        border-radius: 13px;
        padding: 20px 30px;
    }
    #project{
        align-items: start;
        min-height: 60vh;
    }
    .contact h1 i{
        padding-left: 2px;
    }
}
/*Mobile */
@media(max-width:700px){
    .skills{
        display: flex;
        justify-content: center;

    }
    .about-info{
        margin: 0;
        padding: 10px 20px;
    }
    .about-info p{
        font-size: 13px;
    }
    .btn{
        font-size: 12px;
    }
    .home .home-content h1{
        font-size: 3rem;
    }
    .home-content h3{
        font-size: 1rem;
        margin-bottom: 1rem;
        font-weight: 700;
    }
    .skills div h2{
        font-size: 12px;
    }

    .skills div ul li{
        font-size: 9px;
    }
    .card a{
        display: flex;
        width: 100%;
        height: 180px;
        padding: 2px 10px;
        background-color: white;
        color: black;
        border-radius: 13px;
        align-items: start;
        gap: 5px;
        cursor: pointer;
    }
    
    .card a div{
        padding: 15px 5px;  
    }
    .card a img{
        align-self: center;
        width: 45%;
        position: relative;
        left: 25px;
    }
    .card a p{
        font-size: 8px;
    }
    #about-label{
        position: relative;
        top: 170px;
    }
    #project-label{
        position: relative;
        top: 30px;
    }
    #project{
        min-height: 70px;
    }
    header{
        position: static;
    }
    .contact-storage{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50% 50%;
        gap: 15px;
        
    }

    .contact-storage div{
        background-color: #9B96A3;
        width: 230px;
        height: 110px;
        border-radius: 13px;
        padding: 20px 30px;
    }
    .contact-storage div h1{
        font-size: 14px;
    }
    .contact-storage div h3{
        font-size: 8px;
    }
    .contact h1{
        font-size: 16px;
    }
    .contact{
        min-height: 60vh;
    }
    .contact h1 i{
        padding-left: 3px;
    }
    
}
